In [1]:
import json
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
import re
import xlwt
import numpy as np
import requests
import urllib.error
import urllib.parse
import json
import time

In [3]:
dataframe = pd.read_csv('op_shop_list.csv')

In [4]:
dataframe.head()

,Unnamed: 0,name,address,opentime,lat,lng
0,0,Salvos,69 Bourke Street Melbourne,Mon - Fri 10am-6pm\nSat 10am-4pm\nSun Closed\n,-37.812081,144.971416
1,1,Brotherhood City Basement,"Basement, Royal Arcade,Bourke Street Mall, Mel...",Mon - Fri 9am to 4:45pm\nSat 9:30am to 3:30pm\n,-37.814539,144.964094
2,2,hunter gatherer City Ground Floor,"Ground Floor, Royal Arcade, Melbourne",Mon - Fri 10 am to 5.15 pm\nSat 10 am to 4:45 ...,-37.814712,144.964083
3,3,The Conscious Closet,"Queen Victoria Women's Centre, Ground Floor 21...",Tue - Sat 12 - 5PM\n,-37.810964,144.965903
4,4,Savers Footscray,"33 Albert St, Footscray",Mon - Wed 9am - 8pm\nThu - Fri 9am - 9pm\nSat ...,-37.801721,144.898025

In [6]:
jsonlist = []
for i in range(len(dataframe)):
    aItem = {}
    aItem["id"] = i
    aItem["name"] = dataframe['name'][i]
    aItem["address"] = dataframe['address'][i]
    aItem['opentime'] = dataframe['opentime'][i]
    aItem['lat'] = dataframe['lat'][i]
    aItem['lng'] = dataframe['lng'][i]
    aJson = json.dumps(aItem)
    jsonlist.append(aItem)

In [7]:
savefile = 'opshop-list.json'

with open(savefile, 'w') as f:
    f.write(json.dumps(jsonlist))

In [6]:
str(dataframe['lat'][1])

'-37.8145386'